{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Empty container for space -->
<div class="container header-container mt-5 mb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 mt-5">
    <div class="row h-100">
        <div class="col my-auto">
            <h1>Limited edition prints and originals</h1>
            <div>
                <h3>
                    <a href="" class="btn btn-lg text-uppercase">Shop the gallery</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}