{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Empty container for space -->
<div class="container header-container mt-5 mb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container-fluid image-container text-center mb-5">

    <img src="/media/red.webp" alt="Black and white drawing of a red admiral butterfly" id="hero-image">
    <div>
        <h1>Limited edition drawings and prints</h1>
        <h2>Hand drawn and printed in Ireland with 5% of every purchase donated to The Irish
            Wildlife Trust</h2>
        <h3>
            <a href="{% url 'items' %}" class="mt-3 btn btn-lg btn-outline text-uppercase">Shop the gallery</a>
        </h3>
    </div>
</div>


{% endblock %}