<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-text-color nav-link">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text-color nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Items
            </a>
            <div class="dropdown-menu border-0 nav-text-color" aria-labelledby="items-link">
                <a href="{% url 'items' %}" class="dropdown-item">All Items</a>
                <a href="" class="dropdown-item">Prints</a>
                <a href="" class="dropdown-item">Originals</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-text-color nav-link">Commissions</a>
        </li>
    </ul>
</div>