{% extends "base.html" %}
{% block content %}

<div class="container header-container">
    <div class="overlay"></div>

    {% block page_header %}
    <!-- Empty container for space -->
    <div class="container mb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    {% endblock %}
    <div class="col">
        <div class="allauth-form-inner-content">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}