{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mb-3">
    <div class="row text-center">
        <div class="col text-center">
            <h2 class="mb-4 ">{% trans "Change Password" %}</h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-custom" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock %}