{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container mb-3">
    <div class="row text-center">
        <div class="col text-center">
            <h2 class="mb-4 ">{% trans "Sign Up Closed" %}</h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center">
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}