{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/888b3ce963.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>Black & White Beauty {% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top">
        <!-- banner -->
        <div id="delivery-banner" class="row text-center">
            <div class="col banner">
                <h6 class="my-1 font-weight-lighter border">Free delivery on orders over
                    €{{ free_delivery_threshold }}!
                </h6>
            </div>
        </div>
        <!-- navbar -->

        <!-- logo -->
        <div class="container-fluid">
            <div id="topnav" class="row pt-lg-2 mt-3 justify-content-center">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-start">
                    <a class="navbar-brand nav-link main-logo-link" href="{% url 'home' %}">
                        <h2 class="logo my-auto nav-text-color my-0 font-weight-light">Black & White Beauty</h2>
                    </a>
                </div>
            </div>
        </div>
        <div id="topnav" class="row d-none d-lg-flex mb-2">

            <!-- searchbar -->
            <div class=" col-12 col-lg-4 my-auto py-1 py-lg-0 text-center justify-content-center">
                <form method="GET" action="{% url 'items' %}">
                    <div class="input-group w-70">
                        <input class="form-control border" type="text" name="q" placeholder="Search the gallery">
                        <div class="input-group-append">
                            <button class="form-control btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- account -->
            <div class="col-12 col-lg-4 py-1 py-lg-0 ml-auto">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-text-color nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 nav-text-color" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_item' %}" class="dropdown-item">Store Management</a>
                            <a href="{% url 'enquiries' %}" class="dropdown-item">Enquiries</a>
                            <a href="{% url 'add_faq' %}" class="dropdown-item">FAQs</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <!-- shopping cart -->
                    <li class="list-inline-item">
                        <a class="nav-text-color nav-link" href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fas fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}

            </nav>
        </div>


    </header>

    <!-- toasts -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

      <!-- Footer -->
      <footer class="text-center mt-auto">
        <div class="container pt-3">
            <!-- Social media -->
            <div class="mb-4">
                <a class="btn btn-link btn-floating btn-lg footer-text-color" href="https://www.facebook.com/" target="blank"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-link btn-floating btn-lg footer-text-color" href="https://twitter.com/" target="blank"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-link btn-floating btn-lg footer-text-color" href="https://www.instagram.com/" target="blank"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-link btn-floating btn-lg footer-text-color"
                    href="https://www.linkedin.com/in/rachel-o-donnell-397aa2180/" role="button" target="blank"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                <a class="btn btn-link btn-floating btn-lg footer-text-color" href="https://github.com/rachel-o-donnell"
                    target="blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="col">
                <div class="row">
                    <ul class="navbar-nav">
                    <li class="mt-5">
                        <a class="d-flex footer-text-color" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="mt-5">
                        <a class="d-flex footer-text-color" href="#">Sign up for our newsletter</a>
                    </li>
                    <li class="mt-5">
                    <a class="d-flex footer-text-color" href="{% url 'faqs' %}">FAQ's</a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="text-center footer-text-color p-2 pb-5">
                © 2023 Copyright:
                <a class="footer-text-color" href="{% url 'home' %}">Black & White Beauty</a>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
   
</body>
</html>