{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- Empty container for space -->
<div class="container header-container mt-5 mb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt3">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 text-center">Enquiries</h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row table-responsive">
        <div class="col-14">
            <div class="mb-5">
                <table class="table enquiries table-striped table-borderless">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Order #</th>
                            <th>Dimensions</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enquiry in contact_list  %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ enquiry.date }}</td>
                            <td>{{ enquiry.full_name }}
                            </td>
                            <td>{{ enquiry.email }}
                            </td>
                            <td>{{ enquiry.enquiry_subject }}
                            </td>
                            <td>{{ enquiry.body}}
                            </td>
                            <td>{{ enquiry.order_number}}
                            </td>
                            <td>{{ enquiry.dimensions }}
                            </td>
                            <td>
                                {% if enquiry.image %}
                                <div class="image-container">
                                    <a href="{{ enquiry.image.url }}" target="_blank">
                                        <img class="card-img-top img-fluid" src="{{ enquiry.image.url  }}"
                                            alt="{{ item.name }}">
                                    </a>
                                </div>
                                {% else %}
                                <p>N/A</p>

                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center mt-3 mb-5">
        <a class="btn btn-custom top-btn">
            <span class=" icon">
                <i class="fas fa-chevron-up" aria-hidden="true"></i>
            </span>
            <span>Back to top</span>
        </a>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- javascript for back to top button -->
<script>
    $('.top-btn').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}